{% extends 'base.html' %}
{% block content %}



      
        <div class="form-container">
          <h1 class="signup">New Post</h1>
<!-- {% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Meme</h1>
{% endif %} -->
  <!-- Leaving the action empty makes the form post to the same url used to display it -->


        
        
        <!-- Insert photo markup below this comment -->

        <!-- new code below -->
        <form action="" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <table>
                <!-- Render the inputs inside of <tr>s & <td>s -->
                {{ form.as_p }}
              </table>
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form> 
      
<!-- {% for image in meme.image_set.all %}
  <img class="responsive-img card-panel" src="{{image.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Image Uploaded</div>
{% endfor %} -->

{% endblock %}