{% extends 'base.html' %}
{% block content %}

<div class="form-container">
 <center><img width="50%" class="signup-img" src="https://imgur.com/LkdPV4R.png"></center> 
    {% if error_message %}
    <p class="red-text">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="signup"> 
    </form><br>
    <p class="passwordrules">Your Password Must Contain at least 8 Characters, Cannot be Entirely Numeric, and cannont be too similar to your other information</p>
</div>   

{% endblock %}





