{% extends 'base.html' %}
{% block content %}

<div class="home-dogs">
    <img src="https://lh3.googleusercontent.com/r5x76uRzI-fwEZFspGDEqKvIq70tQINcZCHUA_zSrT9cg3M2F7RLdF8qMsMcG3RSDdVO7mEQbGFYiVNhykWKJDJnXDqkgd7vaImFSb8LG9aIWYdYQ2Ho2TzHO6-b05uG8aQcsboxO81FCCzjRybwYa_tU2tO9v2-ffy-2KgoG17F_yGIqjNk6WLXpAA6rmfrzkx1nUXcv7tKSLHANNb-2_zt-Rv_xNPGD1AR-USeU_xXBTerDLio79_Lmbw9nDjrt9jgwLj0RcJ8z2DHsCSZJ2Lav6agHRzBzY8nNmLfVwfAHhm1ggQf6hptOuvBCda1Gqn-vSQcz7spvOpETEQ0td-H0_2uKdtnIot_1eQx-gjqreninhGJ_P7OzRK2N604b1GWYByRq5PeousNr4xKFe6o8UAz_CTHdKMq19sNvcF74U2s5H5cZeQ2609xbX2-zGoM-xUtBoaYPArAA80wPgCQQwJVXqCBvEuJnD-fqc3SSff_VovPc-t5uiqUueXBJwMSkfYLpI1-CkKRyJJJ6Hr4wUP0Tn8zT4AHhXAjid6XN5EOqrUZmRqMZYrNQXP5Vemf80x323wzaFsKarYcGiDArtdzDBaW4h4Q_ZqX96qsW7AQLtU61d3u58OzsSgcJcK7GbrQYUuhHvc1u5TDTW8QlwQSkRUg4WZ31vsx202xac566rqKRWKkFu-x6zQEJ4siFHyCsw1bfgC9VmessCW6lTLE85DdxlT1xuQvkRxDjHNMK31hrydQDx_Ni59gBywtcjlzcj-wwvBj2OF_lKr3mFuUzxOeqg=w1438-h1175-no?authuser=0" class="dogs">
</div>



{% endblock %}
