{% extends 'base.html' %}
{% block content %}



      
<div class="form-container">
  <h1 class="signup">New Post</h1>
 
        <!-- Insert photo markup below this comment -->

        <!-- new code below -->
        <form action="{% url 'create_meme' %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <label for="file-upload" class="custom-file-upload">
            Upload Meme
            </label>
            <input id="file-upload" type="file"/>
            <br><br>
            <label for="title">Title:</label>
            <input type="text" name="title">
            <br><br>
            <label for="caption">Caption:</label>
            <input type="text" name="caption">
            <br><br>
            {% comment %} <table>
                <!-- Render the inputs inside of <tr>s & <td>s -->
                {{ form.as_p }}
              </table> {% endcomment %}
            <br><br>
            <input type="submit" class="btn" value="Submit">
        </form> 
      
<!-- {% for image in meme.image_set.all %}
  <img class="responsive-img card-panel" src="{{image.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Image Uploaded</div>
{% endfor %} -->

{% endblock %}


<label for="file-upload" class="custom-file-upload">
  Custom Upload
</label>
<input id="file-upload" type="file"/>