body {
	/* background: url(https://i.imgur.com/Qx2TQhY.jpg); */
	background-size: auto;
	
	position: relative;
	background-repeat: no-repeat;
	left: 50%;
	transform: translateX(-50%);
    font-size: 30px;
	text-align: center;
	margin: auto;
	padding-top: 10px;
    font-family: 'Staatliches', cursive;
	height: 100%;
	background-color: rgb(66, 66, 200);

}

	.btn {
		text-align: center;
		display: inline-block;
		padding: 15px 40px;
		border: 3px solid rgb(34, 34, 153);
		background-color: white;
		cursor: pointer;
		letter-spacing: 2px;
		position:relative;
		overflow:hidden;
		margin: 0 20px;
		font-family: 'Courier New', Courier, monospace;
		font-size: 15px;
	  }

	  .delete-img{


border-radius: 15px;
box-shadow: 5px 5px 2px black;


	  }