*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(66, 66, 200);
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
}

.signup-container {
    width: 50vw;
    margin-top: 100px;
}

.body-container {
    display: flex;
    justify-content: center;

}

    
.red-text {
    display: flex;
    justify-content: center;
    color: red;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}


.passwordrules {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}


h1 {
    color: white;
    font-family: 'Staatliches', cursive;
}

.signup {
    text-align: center;
    font-size: 50px;
}

form ul {
   display: none;
}

label {
    font-family: 'Staatliches', cursive;
    color: white;
}

form {
    text-align: center;
    
}

p {
    font-size: 27px;
}

input {
    font-size: 24px;
    font-family: sans-serif;
}


.helptext {
    display: none;
}

.btn {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 5px solid rgb(34, 34, 153);
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
  }

  .btn:hover {
    border: 5px solid rgb(17, 17, 93);
  }
  



/* NAV STARTS HERE */

header {
    background-color: rgb(34, 34, 153);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    /* border-bottom: 1px solid white; */
}

.nav-logo {
    text-decoration: none;
    color: white;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color:rgb(34, 34, 153);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color:rgb(92, 92, 217);
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1)
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 200ms ease-in-out 250ms;
}









@media screen and (min-width: 800px){

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
        grid-column: 2 / 3;
        
    }

  
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
    }


      .signup-container {
        margin-top: 150px;
      }



}