{% extends 'base.html' %}
{% block content %}

<div class="detail-container">

    <div class="post-bundle">
        <p class="title-caption"><span class="red-desc">Title:</span><br> {{ meme.title }}</p>
        <p class="title-caption">Posted By: {{ meme.user }}</p>
        <div class="img">
            <img src="{{ meme.image_url }}" alt="" class="title-caption detail-img">
        </div>
        <p class="title-caption"><span class="red-desc">Caption:</span> {{ meme.caption }}</p>
    </div>

</div>

<h1 class="comment-header">Comments</h1>
<div class="comment-container">
    
    {% for comment in meme.comment_set.all %}
    <div class="comments">
        <p class="comment-text"><span class="username">{{ comment.user.username }}:</span> {{ comment.text }}</p>
    </div>
    {% endfor %}
</div><br><br>

<form action="{% url 'add_comment' meme.id %}" method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" class="btn" value="Add Comment" />
</form><br><br>



{% endblock %}