{% extends 'base.html' %}
{% block content %}

<div class="detail-container">

    <div class="post-bundle">
        <p class="title-caption"><span class="red-desc">Title:</span><br> {{ meme.title }}</p>
        <p class="title-caption">Posted By: {{ meme.user }}</p>
        <div class="img">
            <img src="{{ meme.image_url }}" alt="" class="title-caption detail-img">
        </div>
        <p class="title-caption"><span class="red-desc">Caption:</span> {{ meme.caption }}</p>
    </div>

</div>

<form action="{% url 'add_comment' meme.id %}" method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" class="btn" value="Add Comment" />
</form>

{% for comment in meme.comment_set.all %}
<div>
    <p>{{ comment.text }}</p>
</div>
{% endfor %}


{% endblock %}