<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="script.js"></script>
<div class="CSSgal">

  <s id="s1"></s> 
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>

  <div class="slider">
    <div style="background: lightgreen">
			<h2 style="background: green;  color: lightgreen;" >Who controls the <b>Memes</b>, controls the Universe</h2>
			<p><h3 style = "color: green;">Welcome to Meme App</h3><br>
        <img id='slide1' src="https://imgur.com/W9OszgK.jpg" alt="alternatetext"  
     style="width:50%;height:60%;">
      <h4 style = "color: green;">BY BEASTCOAST TEAM</h4><br>
		</div>

</div>
</body>
</html>
