<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <script src="script.js"></script>
<div class="CSSgal">

  <s id="s1"></s> 
  <s id="s2"></s>
  <s id="s3"></s>
  <s id="s4"></s>

  <div class="slider">
    <div style="background: lightgreen">
			<h2 style="background: green;  color: lightgreen;" >Who controls the <b>Memes</b>, controls the Universe</h2>
			<p><h3 style = "color: green;">Welcome to Meme App</h3><br>
        <img id='slide1' src="https://imgur.com/W9OszgK.jpg" alt="alternatetext"  
     style="width:50%;height:60%;">
      <h4 style = "color: green;">BY BEASTCOAST TEAM</h4><br>
		</div>

    
    <div style="background:lightblue">

    <div style="background: lightblue">
    <h2 style="background: blue;  color: white; font-size: 35px;" >New Era for the <b>Memers</b></h2>
    <img
 id='slide1' src="https://imgur.com/RBU0qyB.jpg" 
    alt="alternatetext"  
    style="width:500px;height:600px; border-radius: 5%; ">
		</div>
      
		</div>

    
    <div style="background:white;">

    <div style="background: white">
    <h2 style="background: blue;  color: white; font-size: 35px;">MAKE IT <b>VIRAL</b></h2>
    <img
 id='slide1' src="https://imgur.com/8Gq5ePA.jpg" 
    alt="alternatetext"  
    style="width:500px;height:555px; border-radius: 5%; ">
		</div>
      
		</div>
    <div style="background:lightblue;">

              <h2 style="background: blue;  color: white; font-size: 30px;">Hope you will enjoy our App!</h2>
          <div style="background: lightblue">
  <br>
    <img
 id='slide1' src="https://imgur.com/2vPFZhh.jpg" 
    alt="alternatetext"  
    style="width:450px;height:400px; border-radius: 5%; ">     
		</div>

  <button class="proceed"><span>CLICK HERE TO PROCEED</span></button>
      
		</div>
  </div>

  <div class="prevNext">
    <div><a href="#s4"></a><a href="#s2"></a></div>
    <div><a href="#s1"></a><a href="#s3"></a></div>
    <div><a style="background: blue;" href="#s2"></a><a style="background: blue;" href="#s4"></a></div>
    <div><a href="#s3"></a><a href="#s1"></a></div>
  </div>

  <div class="bullets">
    <a href="#s1">1</a>
    <a href="#s2">2</a>
    <a href="#s3">3</a>
    <a href="#s4">4</a>
  </div>

</div>
</body>
</html>
